@import url("https://fonts.cdnfonts.com/css/gg-sans-2");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hover: hover:bg-secondary-s1 hover:text-font-f1;
    font-family: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

@layer components {
    /* Tooltip Box */
    span.tooltip {
        @apply absolute mr-[-200px] py-1.5 px-3 max-w-[200px] font-ggsans text-base font-semibold text-font-f2
        bg-primary-tooltip rounded-md opacity-0 pointer-events-none scale-100
        transition-all ease-linear duration-[100ms] z-10 origin-left;
        &.show-right {
            @apply ml-2 left-full;
            &::after {
                @apply content-[""] absolute mt-[-5px] top-1/2 right-full border-[5px] 
                border-solid border-y-transparent border-l-transparent border-r-primary-tooltip ;
            }
        }
    }

    /* Backdrop */
    div.backdrop {
        @apply absolute w-full h-full bg-black opacity-[0.825];
    }

    .maxWidth1180 {
        @apply max-w-[1180px] w-[90%] mx-auto
    }

}
.slick-slide > div {
    margin: 0 10px;
    margin-bottom: -7px;
}

@keyframes tooltip-popup {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1.01); }
}

@keyframes modal-popup {
    0% { transform: scale(0.75); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fade-up-1 {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fade-up-2 {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}